<?xml version="1.0"?>
<launch>
  <arg name="controller" default="coordinated_nullspace_controller"
       doc="One of 'coordinated_nullspace_controller', 'coordinated_twist_decomposition_controller'"/>

  <group ns="rob1">
    <node pkg="coordinated_motion_examples" type="coordinated_motion_demo_rob1.py" name="coordinated_motion_client" output="screen">
      <param name="controller" value="$(arg controller)"/>
      <param name="joint_controller" value="joint_trajectory_controller"/>
      <param name="arm_id" value="rob1"/>
    </node>
  </group>
  <group ns="rob2">
    <node pkg="coordinated_motion_examples" type="coordinated_motion_demo_rob2.py" name="coordinated_motion_client" output="screen">
      <param name="controller" value="$(arg controller)"/>
      <param name="joint_controller" value="joint_trajectory_controller"/>
      <param name="arm_id" value="rob2"/>
    </node>
  </group>
</launch>

