<?xml version="1.0"?>
<launch>
  <!-- GDB functionality -->
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value=""/>
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args"/>

  <!-- The list of the joint_states topics of all combined robots to fuse to a complete topic -->
  <arg name="joint_states_source_list" default="[rob1/joint_states,
                                                 rob2/joint_states,
                                                 positioner/joint_states]"/>

  <!-- Load robot_description -->
  <param name="robot_description" command="xacro '$(find coordinated_motion_examples)/urdf/two_robot6R.xacro'"/>

  <!-- Load hardware interface and controllers -->
  <rosparam file="$(find coordinated_motion_examples)/config/robot_hardware.yaml"/>
  <rosparam file="$(find coordinated_motion_examples)/config/example_controllers.yaml"/>

  <group ns="rob1">
    <node name="sim_hw_interface" pkg="ros_control_boilerplate" type="sim_hw_main"
          output="screen" launch-prefix="$(arg launch_prefix)"/>
    <node name="default_controllers_spawner" pkg="controller_manager" type="controller_manager"
          respawn="false" output="screen" args="spawn joint_state_controller joint_trajectory_controller"/>
    <node name="coordinated_controller_spawner" pkg="controller_manager" type="controller_manager"
          respawn="false" output="screen" args="load task_space_controller coordinated_motion_controller"/>
  </group>

  <group ns="rob2">
    <node name="sim_hw_interface" pkg="ros_control_boilerplate" type="sim_hw_main"
          output="screen" launch-prefix="$(arg launch_prefix)"/>
    <node name="default_controllers_spawner" pkg="controller_manager" type="controller_manager"
          respawn="false" output="screen" args="spawn joint_state_controller joint_trajectory_controller"/>
    <node name="coordinated_controller_spawner" pkg="controller_manager" type="controller_manager"
          respawn="false" output="screen" args="load task_space_controller coordinated_motion_controller"/>
  </group>

  <group ns="positioner">
    <node name="sim_hw_interface" pkg="ros_control_boilerplate" type="sim_hw_main"
          output="screen" launch-prefix="$(arg launch_prefix)"/>
    <node name="default_controllers_spawner" pkg="controller_manager" type="controller_manager"
          respawn="false" output="screen" args="spawn joint_state_controller positioner_controller"/>
  </group>

  <!-- Published fused joint states and robot state -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
  <node name="joint_state_publisher" type="joint_state_publisher" pkg="joint_state_publisher">
    <rosparam param="source_list"  subst_value="true">$(arg joint_states_source_list)</rosparam>
    <param name="rate" value="100"/>
  </node>

  <!-- Load rviz visualization -->
  <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find coordinated_motion_examples)/config/coordinated_motion_examples.rviz"/>

</launch>
